* {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 40px 0 40px 0;
    color: white;
}

body {
    background-color: black;
}

.box, form {
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Segoe UI";
}

input {
    width: 200px;
    height: 50px;
    border-radius: 20px;
    padding: 0 15px 0 15px;
}

button {
    width: 150px;
    height: 50px;
    border-radius: 20px;
}

.messageBox {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
}

.messageBox p {
    margin: 0;
}